* {
    padding: 0;
    margin: 0
}

.component-modal .modal-dialog .modal-content {
    width: 600px;
    margin-left: 15%;
    margin-top: 24%
}

.component-modal .modal-dialog .modal-body .preview-model .preview-big>img {
    height: 280px;
    width: 280px
}

.component-modal .modal-dialog .modal-body .preview-model .preview-small {
    margin-top: 10px
}

.component-modal .modal-dialog .modal-body .preview-model .preview-small span {
    margin: 0 10px 0 0
}

.component-modal .modal-dialog .modal-body .preview-model .preview-small img {
    height: 40px;
    width: 40px
}

.modal-close {
    background: url(../imgs/icon-close.png) no-repeat;
    width: 16px;
    height: 20px;
    float: right;
    cursor: pointer
}

.component-modal .modal-dialog .modal-body .modal-left {
    width: 250px;
    display: inline-block
}

.component-modal .modal-dialog .modal-body .modal-right {
    width: 250px;
    float: right;
    display: inline-block
}

.component-modal .modal-dialog .modal-body .modal-right .modal-modify {
    margin: 15px 0
}

.modify-text {
    font-size: 14px
}

.author-info h2 {
    margin: 0 0 20px
}

.author-info>h4 {
    font-size: 22px;
    margin-bottom: 15px;
    max-height: 48px
}

.author-info>h5 {
    max-height: 15px
}

.component-modal .modal-dialog .modal-body .modal-right .pro-info div>p {
    font-size: 14px;
    margin-bottom: 10px
}

.component-modal .modal-dialog .modal-body .modal-right .pro-info div>p:nth-child(2) {
    display: inline-block
}

.btn-primary {
    width: 100px;
    height: 32px;
    padding: 0;
    border-style: none
}

.btn-warning {
    width: 17%;
    border: 1px solid #4990e2;
    color: #4990e2;
    background-color: #fff
}

.component-modal .modal-dialog .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.component-modal .modal-dialog .btn-primary:active {
    background: #8c8c8c;
    border-style: none
}

.modal-body .author-info>h4,
.modal-body .author-info>h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.modal-body .preview-big img,
.modal-body .preview-small img {
    border: 1px solid #ddd
}