<div>
    <div class="modal-header" style="border-bottom: none">
        <!--<p class="modal-title modal-close" ng-click="cancel()" title="关闭" id="modal-title" style="margin: 1%"></p>-->
        <button type="button" class="close" data-dismiss="modal" title="关闭" ng-click="cancel()">
            <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" id="modal-body" style="height: 475px;">
        <ul class="clearfix modal-left" >
            <li>
                <div class="preview-model">
                    <div class="preview-big"><img ng-src={{componentDescr.previewSrc}}/><b></b></div>
                    <div class="preview-small">
                        <span ng-repeat="item in list.attachment track by $index" repeat-finish><img ng-show="item.fileType == 0 || item.fileType == 2 || item.fileType == 3 || item.fileType == 4 || item.fileType == 5" ng-src="{{item.displayUrl}}?name={{item.fileName}}"/></span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="modal-right" >
            <div class="author-info">
                <h4 title="{{list.componentDisplayName}}">{{list.componentDisplayName}}</h4>
                <h5 title="{{list.author}}">作者：{{list.author}}</h5>
                <h5 title="{{list.uploadTime}}">上传时间：{{list.uploadTime}}</h5>
                <h5 title="{{list.originEpName}}" ng-show="list.originEpId != 0">来源企业： {{list.originEpName}}</h5>
                <h5 title="{{list.epName}}" ng-show="list.originEpId == 0">所属企业: {{list.epName}}</h5>
            </div>
            <div class="modal-modify">
                <p>-------------<span class="modify-text">构件详情</span>---------------</p>
            </div>
            <div class="pro-info" style="height:145px;overflow-y: scroll;">
                <div><p>大类：<span>{{list.compClassName}}</span></p><p>小类：<span>{{list.subClassName}}</span></p></div>
                <div ng-repeat="item in otherList track by $index"><p>{{item.name}}：<span>{{item.value}}</span></p></div>
            </div>
            <div class="modal-modify">
                <p>-------------<span class="modify-text">审核意见</span>---------------</p>
            </div>
            <div class="text" style="border: 1px solid #ccc;border-radius:6px;width: 99%;height: 110px;background-color: #eeeeee;padding: 7px;max-height: 110px;overflow-y: scroll;">{{list.opinion}}</div>
        </div>
    </div>
    <div class="modal-footer" style="border-top: none;">
        <button class="btn btn-primary btn-lg" ng-click="delete()" ng-show="list.status == 1">删除</button>
    </div>
</div>
<div class="isDelete" style="display: none;position: fixed;left: 5%;top: 0;">
    <div class="modal-content" style="width: 420px;margin-left: 44%;margin-top: 39%;">
        <div class="modal-header" style="border-bottom: none;padding-bottom: none">
            <!--<p class="modal-title modal-close" ng-click="deleteCancel()" title="关闭"></p>-->
            <button type="button" class="close" data-dismiss="modal" title="关闭" ng-click="deleteCancel()">
                <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body"><h4>您确定要删除该构件吗？</h4></div>
        <div class="modal-footer" style="border-top: none">
            <button type="button" class="btn btn-primary" style="width: 80px;" ng-click="deleteOk()">确定</button>
            <button type="button" class="btn btn-default" style="width:80px;" ng-click="deleteCancel()">取消</button>
        </div>
    </div>
</div>
