<div class="modal-audit">
    <div class="modal-header" style="border-bottom: none">
        <p style="float: left;margin: 15px">审核意见</p>
        <!--<p class="modal-title modal-close" ng-click="cancel()" title="关闭" id="modal-title"></p>-->
        <button type="button" class="close" data-dismiss="modal" title="关闭" ng-click="cancel()">
            <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" id="modal-body" style="padding: 0 15px;">
        <div><textarea name="" id=""  style="width:100%;max-width:100%;height:220px;max-height:220px;padding: 7px">{{opinion}}</textarea></div>
    </div>
    <div class="modal-footer" style="border-top: none">
        <button ng-show="pass" class="btn btn-primary" type="button" ng-click="audited(2)">审核通过</button>
        <button ng-show="pass" class="btn btn-primary" type="button" ng-click="audited(3)">不通过</button>
        <button ng-show="check" class="btn btn-primary" type="button" ng-click="audited(1)">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</div>