<!--大图展示-base构件库简写-->
<div class="component-base largePattern">
    <!--header 页面中的头部-->
    <!--<header ng-include="'template/core/header.html'" class="component-logo"></header>-->
    <div class="component-logo">
        <div class="component-computer-logo  clearfix">
            <div class="col-xs-3">
			<span>
				<img src="imgs/upload.png" style="">
				<h1 class="">我的上传</h1>
			</span>

            </div>
            <div class="col-xs-9 component-search">
                <div ng-click="uploadCom()"><span class="icon-tool"></span>上传构件</div>
                <form role="form">
                    <input type="text" placeholder="输入构件名称" class="form-control col-xs-3 searchtext"  ng-keydown="search($event,searchText)" ng-model="searchText">
                    <div class="absol search-btn" ng-click="search(null,searchText)"><img src="imgs/icon/icon-search.png" alt="" class="icon-search"></div>
                </form>
            </div>
        </div>
    </div>
    <!---页面内容main-->
    <article class="componet-base-main">
        <!--main-siderbar(侧边栏)-->
        <aside class="main-siderbar">
            <!--侧边栏菜单-->
            <ul class="source">
                <li>
                    <p ng-click="public()" ui-sref="component">公共库</p>
                </li>
                <li>
                    <p ng-show="orgShow" ui-sref="component({name:1})">企业库</p>
                    <ul class="ztree" id="sourceTree" style="overflow-y:auto;max-height: 300px"></ul>
                </li>
                <li class="uploadClick">
                    <p ui-sref="upload" class="btnActive">我的上传</p>
                    <ul style="display: block">
                        <li><span class="menusName side-active" ng-click="getComponent(null,$event)">全部</span></li>
                        <li><span class="menusName" ng-click="getComponent(1,$event)">待审核</span></li>
                        <li><span class="menusName" ng-click="getComponent(2,$event)">已通过</span></li>
                        <li><span class="menusName" ng-click="getComponent(3,$event)">未通过</span></li>
                    </ul>
                </li>
                <li>
                    <p ui-sref="audit" ng-show="isAduit">我的审核</p>
                    <ul>
                        <li><span class="menusName side-active">全部</span></li>
                        <li><span class="menusName">待审核</span></li>
                        <li><span class="menusName">已通过</span></li>
                        <li><span class="menusName">未通过</span></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!--component-container(右侧内容)-->
        <section class="container-fluid">
            <!--component-filter（构件筛选）-->
            <div class="component-list">
                <div class="component-filter">
                    <div class="filter-status"style="height: 50px;line-height: 50px">
                        <div class="filter-ele"><div class="filter-first-ele" ng-click="source()">全部</div></div><span ng-show="isBlock" ng-click="cancelFilter()">清空筛选</span>
                        <div ui-sref="largePattern" class="modelBtn modelBtnl">
                            <span title="大图模式" class="large-pattern"></span>
                        </div>
                        <div ui-sref="upload" class="modelBtn modelBtnm">
                            <span title="列表模式" class="listMode"></span>
                        </div>
                    </div>
                    <!--筛选大类-->
                    <div class="filter-infoList" ng-if="isType">
                        <!--筛选标题-->
                        <p style="margin-right: 2px;"><b>大类:</b></p>
                        <!--筛选内容-->
                        <div class="filter-condition row" style="width:calc(100% - 56px );">
                            <div class="filter-ele" ng-click="isTypeFilter($event)" style="max-height: 245px">
                                <span ng-repeat="item in typeList track by $index" data-id="{{item.compClassId}}" title="{{item.compClassName}}">{{item.compClassName}}</span>
                            </div>
                        </div>
                    </div>
                    <!--筛选小类-->
                    <div class="filter-infoList" ng-if="isSType">
                        <!--筛选标题-->
                        <p style="margin-right: 2px;"><b>小类:</b></p>
                        <!--筛选内容-->
                        <div class="filter-condition row" style="width:calc(100% - 56px );">
                            <div class="filter-ele" ng-click="isSTypeFilter($event)" style="max-height: 245px;">
                                <span ng-repeat="item in sTypeList track by $index" data-id="{{item.subClassId}}" title="{{item.subClassName}}">{{item.subClassName}}</span>
                            </div>
                        </div>
                    </div>
                    <!--筛选类型-->
                    <div class="filter-infoList" ng-if="isTypes&&typesList.length>0">
                        <!--筛选标题-->
                        <p style="margin-right: 2px;"><b>类型:</b></p>
                        <!--筛选内容-->
                        <div class="filter-condition row" style="width:calc(100% - 56px )">
                            <div class="filter-ele" ng-click="isTypesFilter($event)" style="max-height: 40px;overflow:hidden;">
								<span ng-repeat="item in typesList track by $index" title="{{item.subClassName}}" ng-click="seltypes(item.subClassName,item.subClassId)">
									<label class="check-box" style="margin-top: -7px">
                                        <input type="checkbox">
                                        <div class="simulated-box"></div>
                                    </label><i style="display: inline-block;width: 60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-left:3px;position:relative;top:-2px;" data-id='{{item.subClassId}}'>{{item.subClassName}}</i>
								</span>
                            </div>

                            <div class="filter-tool">
                                <span class="filter-more showMore"><i class="moreBtn">更多</i>  <i class="glyphicon glyphicon-menu-up" style="margin-top: -3px"></i></span>
                                <span  data-type='types' data-switch='off' class="checkMore"><b>+</b>多选</span>
                            </div>
                            <div class="btns-item">
                                <button type="button"  data-type='types' class="btn btn-danger btn-ok">确定</button>
                                <button type="button"  data-type='types' class="btn btn-default btn-cancel">取消</button>
                            </div>

                        </div>
                    </div>
                    <!--筛选风格-->
                    <div class="filter-infoList" ng-if="isStyle">
                        <!--筛选标题-->
                        <p class="styleLable" style=""><b>风格:</b></p>
                        <!--筛选内容-->
                        <div class="filter-condition row" style="width:calc(100% - 56px );">
                            <div class="filter-ele" ng-click="isStyleFilter($event)" style="max-height: 40px;overflow:hidden;">
								<span ng-repeat="item in styleList track by $index" title="{{item.styleName}}">
									<label class="check-box" style="margin-top: -7px">
                                        <input type="checkbox">
                                        <div class="simulated-box"></div>
                                    </label><i style="display: inline-block;width: 60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-left:3px;position:relative;top:-2px;" data-id='{{item.styleId}}'>{{item.styleName}}</i>
								</span>
                            </div>

                            <div class="filter-tool">
                                <span class="filter-more showMore"><i class="moreBtn">更多</i>  <i class="glyphicon glyphicon-menu-up" style="margin-top: -3px"></i></span>
                                <span  data-type='style' data-switch='off' class="checkMore"><b>+</b>多选</span>
                            </div>
                            <div class="btns-item">
                                <button type="button"  data-type='style' class="btn btn-danger btn-ok">确定</button>
                                <button type="button"  data-type='style' class="btn btn-default btn-cancel">取消</button>
                            </div>
                        </div>
                    </div>
                    <!--筛选品牌-->
                    <div class="filter-brand filter-infoList" ng-if="isBrand">
                        <!--筛选标题-->
                        <p class="brandLable selectTitle"><b>品牌:</b></p>
                        <!--筛选内容-->
                        <div class="filter-condition row" style="width:calc(100% - 56px )">
                            <div class="filter-ele" ng-click="isBrandFilter($event)" style="max-height: 40px;overflow: hidden">
								<span ng-repeat="item in brandsList" title="{{item.brandName}}">
									<label class="check-box" style="margin-top: -4px">
                                        <input type="checkbox">
                                        <div class="simulated-box"></div>
                                    </label><i style="display: inline-block;width: 60px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-left:3px;" data-id="{{item.brandId}}">{{item.brandName}}</i></span>
                            </div>
                            <div class="filter-tool">
                                <span class="filter-more showMore"><i class="moreBtn">更多</i> <i style="margin-top: -3px" class="glyphicon glyphicon-menu-up"></i></span>
                                <span data-type='brand'  data-switch='off' class="checkMore"><b>+</b>多选</span>
                            </div>
                            <div class="btns-item">
                                <button type="button" data-type='brand' class="btn btn-danger btn-ok">确定</button>
                                <button type="button" data-type='brand' class="btn btn-default btn-cancel">取消</button>
                            </div>
                        </div>
                    </div>
                    <p class="filter-down activeShow" ng-show="filterDown"><i class="moreSelect">更多选项</i> <i class="glyphicon glyphicon-menu-down"></i><i class="glyphicon glyphicon-menu-up"></i></p>
                </div>
                <!--component-infoList(构件信息展示)-->
                <div class="component-info" style="position: relative;">
                    <div class="page">  
                        <span><i class="pageNum">{{currentPage}}</i>/{{pageCount}}</span><ul uib-pager previous-text="<"  next-text=">" items-per-page={{pageSize}} num-pages="numPages" total-items="bigTotalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)"></ul>
                    </div>
                    <ul class="clearfix">
                        <li ng-repeat="itemList in componentList track by $index" repeat-finish="renderFinish()">
                            <div class="preview-model">
                                <div style="cursor: pointer" class="preview-big" ng-click="componetModal(itemList.componentId)">
                                    <img src='imgs/placeholder.png' _src="{{itemList.attachmentInfo[0].displayUrl}}?name={{itemList.attachmentInfo[0].fileName}}"/>
                                </div>

                            </div>
                            <div class="preview-tool">
                                <a style="cursor: pointer;width: 100%;" title="{{itemList.componentDisplayName}}" ng-click="componetModal(itemList.componentId)">{{itemList.componentDisplayName}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pagination">
                <div class="clearfix">
                    <ul uib-pagination total-items="bigTotalItems" force-ellipses="true" items-per-page={{pageSize}}  ng-model="currentPage" ng-change="pageChanged(currentPage)" first-text="首页"  last-text="尾页" previous-text="上一页"  next-text="下一页" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
                    <span>共 {{numPages}} 页 </span>
                    <div class="pagination-dump">
                        <p class="dump-inp inline"> ,  跳转到   <input type="text" ng-keydown="getDumpOk($event,numPages)"  class="form-control inline"> </p>
                        <button type="button " class="inline btn btn-default btn-sm" ng-click="getDumpOk(null,numPages)">确定</button>
                    </div>
                </div>
            </div>
        </section>

    </article>
    <div class="return-top" ng-click="reTop()"><img src="imgs/icon/icon-top.jpg" alt=""></div>
</div>
